main {
	flex: 1;

	ul {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
		list-style: none;

		.dev-item {
			background: #fff;
			box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
			border-radius: 2px;
			padding: 2rem;

			header {
				display: flex;
				align-items: center;

				img {
					width: 5.4rem;
					height: 5.4rem;
					border-radius: 50%;
				}

				.user-info {
					margin-left: 1rem;

					strong {
						display: block;
						font-size: 1.6rem;
						color: #333;
					}

					span {
						font-size: 1.3rem;
						color: #999;
						margin-top: 0.2rem;
					}
				}
			}

			p {
				color: #666;
				font-size: 1.4rem;
				line-height: 2rem;
				margin: 1rem 0;
			}

			a {
				color: #8e4dff;
				font-size: 1.4rem;
				text-decoration: none;
				transition: all 0.2s;

				&:hover {
					color: #5a2ea6;
				}
			}
		}
	}
}
