#app {
	max-width: 120rem;
	margin: 0 auto;
	padding: 6rem 3rem;

	display: flex;
	align-items: flex-start;

	main {
		margin-left: 3rem;
	}
}

@media (max-width: 768px) {
	#app {
		flex-direction: column;

		main {
			margin-left: 0;
			margin-top: 3rem;
		}

		aside {
			width: 100%;
		}
	}
}
